/* 실습1 */
/* div {
  width: auto;
  height: 200px;
  background-color: orange;
} */

/* .html {
  width: 200px;
  height: 100px;
  margin-right: 30px;
  background-color: skyblue;
  display: inline-block;
}

.css {
  width: 200px;
  height: 100px;
  margin-right: 30px;
  background-color: green;
  display: inline-block;
}

.java {
  width: 200px;
  height: 100px;
  margin-right: 30px;
  background-color: red;
  display: inline-block;
} */

/* 실습2 */

/* body {
  background-color: beige;
}

div {
  width: 10vw;
  height: 10vw;
  background-color: blue;
  color: white;
  text-align: center;
  line-height: 90px;
  margin: 40vh 40vw 40vh 40vw;
  padding: 30px;
} */
